@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* *font Roboto*/

.container {
  width: 100vw;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.base {
  width: 1400px;
  height: 800px;

  display: grid;
  grid-template-rows: 0.1fr 1fr;
  grid-template-columns: minmax(0, 0.15fr) 1fr;
  min-width: 0;
  min-height: 0;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.directMessages {
  flex: 1;
  background-color: rgb(197, 197, 197);
  border-bottom: 1px solid;
}

.currentChat {
  flex: 4;
  background-color: rgb(228, 228, 228);
  border-bottom: 1px solid;
}


.chats {
  display: flex;
  flex-direction: column;
  background-color: rgb(197, 197, 197);
}

.chatWrapper {
  background-color: rgb(228, 228, 228);
  height: 130%;
  display: flex;
  justify-content: center;
}

.profile {
  background-color: rgb(197, 197, 197);
  height: 130%;
}

.circle {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sendMessage {
  width: 0;
  height: 0;
  border-top: 18px solid transparent;
  border-left: 34px solid #555555;
  border-bottom: 18px solid transparent;
  translate: 5px;
}

.mainChat {
  display: inline;
  background-color: rgb(228, 228, 228);
  font-size: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat {
  border-radius: 5px;
  border: 0;
  width: 95%;
  height: 50px;
  font-size: 16px;
}

.messageInfo img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.messageContent {
  margin-left: 20px;
  font-weight: 400;
}

.username {
  font-weight: 600;
}

.message {
  display: flex;
}

.message:hover {
  background-color: lightgrey;
}

.newChatPopup {
  background: none;
  pointer-events: none;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;

  .popup {
    pointer-events: visible;
    border: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    background: linear-gradient(lightgrey, white, lightgrey);
    height: 225px;
    width: 400px;

    #roomInput {
      text-align: center;
      font-family: Anta-regular;
      font-size: 24px;
      width: 80%;
      height: 40px;
    }

    h4 {
      text-align: center;
      width: 80%;
      font-family: Anta-regular;
    }

    button {
      border: solid;
      height: 40px;
      width: 50%;
      background-color: lightgreen;
      font-size: 24px;
      font-family: Anta-regular;
      box-shadow: -2px 2px;

    }

    button:hover {
      background-color: rgb(182, 255, 200);
    }
  }
}

#sendImage {
  display: none;
}
