body {
    overflow: hidden;
    background: linear-gradient(to top,rgb(176, 214, 248),rgb(238, 246, 253),rgb(176, 214, 248));
}

.login {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginWrapper {
    padding: 20px;
    background-color:white;
    height: 450px;
    width: 350px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    justify-content:space-evenly;
}

@font-face {
    font-family: Anta;
    src: url("/Fonts/Anta-Regular.ttf");
}

.header {
    font-family: Anta;
    text-align: center;
    font-weight: 200px;
    letter-spacing: -0.5px;
}

.description {
    text-align: center;
    font-family: Anta;
    font-weight: 200px;
    letter-spacing: -0.5px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input {
    border: 0px;
    height: 50px;
    font-family: Anta;
    border-bottom: 1px solid black;
    font-size: 16px;    
}

button {
    font-family: Anta;
    height: 50px;
    background-color: rgb(111, 131, 223);
    box-shadow:darkslateblue -3px 3px;
    font-size: 24px;
    color: white;
}

button:hover {
    background-color: rgb(134, 149, 218);
}

#error {
    font-family: Anta;
    text-align: center;
    margin-top: 0;
    color: red;
}

.loginSuccess {
    display: none;
    position: absolute;
    background-color: rgba(176, 174, 201, 0.904);
    width: 300px;
    height: 200px;
    z-index: 1;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    border: 2px solid;
}

.loginSuccess h2 {
    font-family: Anta;
}

.loginSuccess img {
    height: 50px;
    border-radius: 50%;
}