.topnav {
    background-color:#302d3b;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
}

.topnav a {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: rgb(10, 195, 241);
    font-size: 20px;
}

.topnav a.active {
    background-color:#46444e;
    color: rgb(10, 195, 241);
}

#games {
    background-color: black;
}