body,html {
    margin: 0;
    width: 100%;
    height: 100%;
    float: left;
}

canvas {
    min-width: 100%;
    min-height: 100%;
}

#signinmessage {
    font-family: Anta;
    font-weight: 100;
    font-size: 40px;
    background: linear-gradient(rgb(6, 6, 204),blue);
    -webkit-background-clip: text;
    background-clip: text;
    color:transparent;
    
}

#toolbar {
    height: 110vh;
    position: fixed;
    width: 75px;
    background-color: darkgrey;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 40px 0;
}

#cursor {
    position: fixed;
    user-select: none;
    line-height: 0;
    padding: 0;
    margin: 0;
    outline: 2px solid;
    border-radius: 50%;
    pointer-events: none;
}

.name {
    display: block;
    width: 100px;
    height: 30px;
    position: fixed;
    user-select: none;
    line-height: 0;
    padding: 0;
    margin: 0;
    pointer-events: none;
    font-family: Anta;
}

#canvas {
    display: block;
    cursor: none;
}

@font-face {
    font-family: Anta;
    src: url("/Fonts/Anta-Regular.ttf");
}

#picker {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#picker h3 {
    text-align: center;
    font-family: Anta;
}